@use '/Lab3/Frontend/src/shared/scss/shared.scss' as *;

.FormWrapper {
    form {
        align-items: center;
        border: 1px solid $main-color-bright;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 35rem;
    }
}
