@use '/Lab3/Frontend/src/shared/scss/shared.scss' as *;

.FormWrapper {
    width: 35rem;

    form {
        align-items: center;
        border: 1px solid $main-color-bright;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    @media screen and (max-width: 37.5rem) {
        width: 100%;

        form {
            border-left: 0;
            border-right: 0;
        }
    }
}
