@use '/Lab2/Frontend/src/shared/scss/shared.scss' as *;

.Wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0;

    label {
        width: 35%;
    }

    textarea {
        font-size: 1.5rem;
        resize: vertical;
        width: 65%;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: 0.5rem 0;

        label {
            padding-bottom: 0.5rem;
            width: 100%;
        }

        textarea {
            width: 100%;
        }
    }
}
