@use '/Lab2/Frontend/src/shared/scss/shared.scss' as *;

.MailFormContainer {
    margin: auto;
    max-width: 35rem;
    padding-top: 4rem;

    @media screen and (max-width: 600px) {
        max-width: 100%;
    }
}

.SpinnerContainer {
    align-items: center;
    background-color: rgba($color: $main-dark-color, $alpha: 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
