$main-color: #c39ff0;
$main-color-dark: #110736;
$main-color-bright: #fadbfb;
$main-color-brighter: #d7b7ff;
$secondary-color: #3d2c8d;

$success-color: #3ca03c;
$warning-color: #c72b2b;
$error-color: #ff1f1f;

$main-font-family: 'Courier New', Courier, monospace;
