$main-color: #c39ff0;
$main-color-dark: #110736;
$main-color-bright: #fadbfb;
$secondary-color: #3d2c8d;

$success-color: #238f23;
$warning-color: #882525;
$error-color: #ff1f1f;

$main-font-family: 'Courier New', Courier, monospace;
