$main-color: #c39ff0;
$main-color-dark: #110736;
$main-color-bright: #d7b7ff;
$main-color-brighter: #fadbfb;
$secondary-color: #3d2c8d;

$main-accent-color: #d8d8d8;

$success-color: #3b833b;
$warning-color: #c72b2b;
$error-color: #ff1f1f;
$disabled-color: #ccc;
$disabled-bg-color: #959595;

$main-font-family: 'Roboto Mono', monospace;
