@use '/Lab3/Frontend/src/shared/scss/shared.scss' as *;

.FormFieldWrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 100%;

    label {
        color: $main-color;
        font-size: 1.1rem;
        line-height: 1.1rem;
        width: 35%;
    }

    input {
        width: 60%;
    }
}
