@use '/Lab3/Frontend/src/shared/scss/shared.scss' as *;

.NoteWrapper {
    padding: 1rem;
    width: 20rem;
}

.NoteContentContainer {
    background-color: $main-color;
    border-radius: 5px;
    color: $main-color-dark;
    height: fit-content;
    padding: 0.5rem 1rem;
}

.NoteName {
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 0.5rem;
    position: relative;

    &::after {
        background-color: $secondary-color;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 80%;
    }
}

.CheckboxesContainer {
    padding-top: 0.5rem;
}

.Toolbar {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 0.5rem 0;

    .Add,
    .Remove {
        cursor: pointer;
        height: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
        width: 1.4rem;

        svg {
            vertical-align: middle;
        }
    }

    .Add {
        color: $success-color;
        transition: 0.2s;
    }

    .Remove {
        color: $warning-color;
    }

    .AddCheckbox {
        display: none;

        &:checked + .Add {
            color: $warning-color;
            transform: rotate(45deg);
            transform-origin: center;
        }
    }
}

.AddCheckboxWrapper {
    padding: 0.5rem;
    text-align: center;

    input {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }

    button {
        background-color: $secondary-color;
        color: $main-color;
        width: 50%;
    }
}
