@use '/Lab3/Frontend/src/shared/scss/shared.scss' as *;

.FormWrapper {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.FormCta {
    color: $main-color-bright;
    padding-bottom: 1rem;
}

.AuthRedirectWrapper {
    padding-top: 2rem;
    text-align: center;

    a {
        color: $main-color;
        font-size: 1.1rem;
        text-decoration: underline;
    }
}
