@use '/Lab3/Frontend/src/shared/scss/shared.scss' as *;

.NoteWrapper {
    padding: 1rem;
    width: 20%;

    @media screen and (max-width: 93.75rem) {
        width: 25%;
    }

    @media screen and (max-width: 75rem) {
        width: 33.33%;
    }

    @media screen and (max-width: 56.25rem) {
        width: 50%;
    }

    @media screen and (max-width: 56.25rem) {
        width: 50%;
    }

    @media screen and (max-width: 37.5rem) {
        width: 100%;
    }
}

.NoteContentContainer {
    background-color: $main-color;
    border: 2px solid $main-color-dark;
    border-radius: 5px;
    color: $main-color-dark;
    height: fit-content;
    padding: 0.5rem;
    transition: border-color 0.15s;

    &:hover {
        border-color: $main-accent-color;

        .Remove {
            opacity: 1;
            visibility: visible;
        }
    }
}

.NoteNameWrapper {
    padding-bottom: 0.5rem;
    position: relative;

    .NoteName {
        background-color: $main-color;
        border-radius: 3px;
        color: $main-color-dark;
        font-weight: bold;
        overflow: hidden;
        position: relative;
        transition: background-color 0.075s;
        width: 100%;

        &:hover {
            background-color: $main-color-bright;
        }
    }

    &::after {
        background-color: $secondary-color;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 80%;
    }
}

.CheckboxesContainer {
    padding-top: 0.5rem;
}

.Toolbar {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 0.5rem 0;

    .Add,
    .Remove {
        cursor: pointer;
        height: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
        width: 1.4rem;

        svg {
            vertical-align: middle;
        }
    }

    .Add {
        color: $success-color;
        transition: 0.2s;
    }

    .Remove {
        color: $warning-color;
        transition: 0.1s;

        @media screen and (min-width: 37.5rem) {
            opacity: 0;
            visibility: hidden;
        }
    }

    .AddCheckbox {
        display: none;

        &:checked + .Add {
            color: $warning-color;
            transform: rotate(45deg);
            transform-origin: center;
        }
    }
}

.AddCheckboxWrapper {
    padding: 0.5rem;
    text-align: center;

    input {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }

    button {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: $main-color;
        width: 50%;

        &:hover {
            background-color: $main-color;
            color: $secondary-color;
        }
    }
}
