@use '/Lab2/Frontend/src/shared/scss/shared.scss' as *;

.Wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;

    label {
        width: 35%;
    }

    input {
        font-size: 1.5rem;
        height: 2rem;
        line-height: 2rem;
        padding: 0.25rem;
        width: 65%;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: 0.5rem 0;

        label {
            padding-bottom: 0.5rem;
            width: 100%;
        }

        input {
            width: 100%;
        }
    }
}
