@use '/Lab3/Frontend/src/shared/scss/shared.scss' as *;

header {
    height: 2rem;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
}

.HeaderCta {
    color: $main-color-bright;
    line-height: 2rem;
    padding: 0 0.5rem;

    &.CtaLeft {
        text-align: left;
    }

    @media screen and (max-width: 37.5rem) {
        font-size: 1.25rem;
    }
}

.Logout {
    color: $main-color-bright;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    text-decoration: underline;
    top: 50%;
    transform: translateY(-50%);
}
